/*---- General settings ----*/
  body {
  margin: 20px;
  background-color: rgb(255, 255, 255);
}
  h1, h2 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
@media screen and (min-width:750px) {
  img {
    float: left;
    margin-right: 20px;
  }
}
@media screen and (max-width:749px) {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
  /*top nav */
ul.topnav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            background-color: #333;
          }
          
          ul.topnav li {
            float: left;
          }
          
          ul.topnav li a, .dropbtn {
            display: inline-block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          
          ul.topnav li a:hover, .dropdown:hover .dropbtn {
            background-color: rgb(107, 150, 190);
          }
          
          ul.topnav li.dropdown {
            display: inline-block;
          }
          
          ul.topnav  .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgb(172, 196, 218);
            min-width: 750px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          ul.topnav .dropdown-content a {
            color: rgb(250, 248, 248);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          
          ul.topnav .dropdown-content a:hover {background-color: #9cb1c9;}
          
          ul.topnav .dropdown:hover .dropdown-content {
            display: block;
          }
        
          @media screen and (max-width: 670px) {
            ul.topnav li.right, 
            ul.topnav li {
              float: none;
            }
            ul {
              text-align: center;
            }
          }
/* grid layout */
@media screen and (min-width:750px) {
.grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.grid > div {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 0px;
  }
}
@media screen and (min-width:750px) {
  .amazon-grid {
    display: grid;
    grid-template-columns: auto 170px;
    justify-items: center;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: justify;
  }
}
@media screen and (max-width:600px) {
  .amazon-footer {
    grid-column-start: 1;
    grid-column-end: 3;
    visibility: hidden;
  }
}
/*--- grid items span two columns---*/
.links {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/*--- For Tables ---*/
#latin {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Latin td, #latin th {
  border: 1px solid #ddd;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

#Latin tr:nth-child(even){background-color: #f2f2f2;}

#latin tr:hover {background-color: #ddd;}

#latin th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}